body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 128px 0 128px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  list-style-type: none;
  display: flex;
}
.header__listItem {
  padding: 8px;
}
.header__link {
  /*
  color: #f9faf8; */
  text-decoration: none;
}

/*
.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
} */
.heroText {
  display: flex;
}
.images__title {
  display: flex;
  justify-content: center;
  padding: 32px 0 32px 0;
}
.images__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
}
.images__singCard {
  max-width: 150px;
}
.images__img {
  border: 4px solid #3882f6;
  border-radius: 16px;
  width: 150px;
  height: 150px;
}
.quote {
  text-align: justify;
}
.quote__name {
  display: flex;
  justify-content: flex-end;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 32px;

  width: 100%;
  /* 
  position: fixed;
  width: 100%;
  bottom: 0; */
}
