body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 128px 0 128px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color */
  font-size: 18px;

  background-color: #1f2937;
  margin: 0 -128px 0;
  padding: 0 128px 64px;
}
.header__logo {
  font-size: 24px;
  color: #f9faf8;
}
.header__nav {
  list-style-type: none;
  display: flex;
}
.header__listItem {
  padding: 8px;
}
.header__link {
  color: #e5e7eb;
  text-decoration: none;
}
.heroText {
  display: flex;
  /* color */
  background-color: #1f2937;
  margin: 0 -128px 0;
  padding: 0 128px 32px;
}
.heroText__title {
  color: #f9faf8;
  font-size: 48px;
}
.heroText__subtext {
  color: #e5e7eb;
  font-size: 18px;
}
.heroText__button {
  border: none;
  border-radius: 5px;
  padding: 8px 16px 8px;
  /* color */
  background-color: #3882f6;
  color: #e5e7eb;
}
.heroText__img {
  max-width: 300px;
  height: auto;
  border: solid 1px #e5e7eb;
  border-radius: 10px;
}
.images__title {
  display: flex;
  justify-content: center;
  padding: 32px 0 32px 0;
  font-weight: 700;
  font-size: 36px;
}
.images__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 48px;
  /* color */
  color: #1f2937;
}
.images__singleCard {
  max-width: 150px;
}
.images__img {
  border: 4px solid #3882f6;
  border-radius: 16px;
  width: 150px;
  height: 150px;
}
.quote {
  text-align: justify;
  /* color */
  color: #1f2937;
  background-color: #e5e7eb;
  margin: 0 -128px 0;
  padding: 0 128px 0;
}
.quote__text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  padding: 64px 64px 0;
}
.quote__name {
  display: flex;
  justify-content: flex-end;
  padding: 0 64px 64px;
  margin: 0;
  font-weight: 700;
}
.cta {
  padding: 64px 0 64px;
}
.cta__field {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 5px;
  padding: 16px 64px 16px 64px;
  display: flex;
  justify-content: space-between;
}
.cta__title {
  font-weight: 700;
  margin-bottom: 0;
}
.cta__subtext {
  margin-top: 0px;
  margin-right: 8px;
}
.cta__button {
  align-self: center;
  border: solid 2px #e5e7eb;
  border-radius: 5px;
  padding: 8px 16px 8px;
  /* color */
  background-color: #3882f6;
  color: #e5e7eb;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 32px;
  margin: 0 -128px 0;
  color: #e5e7eb;
  background-color: #1f2937;
}
